<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <div>
            <p>
                <input type="checkbox" v-model="email" id="ema">
                <label for="ema"> {{email}}</label>
            </p>
            <p>
                <input type="checkbox" v-model="sms" id="sms">
                <label for="sms"> {{sms}}</label>
            </p>    
        </div>
    </div>
    
    <script>
     

        new Vue({
            el : '#app',
            data (){
                return{
                    email : false,
                    sms : "Y"
                }
            },
        })
    </script>
</body>
</html>