<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Hello Vue</title>
</head>
<body>
    <div id="app">
        <div>
            나이 : <input type="number" v-model="age">
        </div>
        <div>
            요금 :
            <span v-if="age < 10">무료</span>
            <span v-else-if="age <20">5000원</span>
            <span v-else-if="age <35">10000원</span>
            <span v-else>1000원</span>

        </div>
    </div>  

    <script>
        const app = new Vue({
            el : "#app",
            data(){ 
                return{
                    age: 10,
                    msg : ""
                }
            }
        })
    </script>
</body>
</html>