* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    width: 1300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
}

p{
    text-decoration-color: white;
}

main{
    width: 1300px;
    height : 1100px;
    display: flex;
    flex-direction: row;
    background-color: yellow;

}
section{
    flex-basis: 1100px;
}

aside{
    flex-basis: 200px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    
}
img {
    max-width:100%;}


.seperate{
    height : 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

footer{
    
    width: 1300px;
    height: 50px;
    display: flex;
    background-color: orange;
    justify-content: space-around;
    align-content: center;
}
a{
    margin-right: 20px;
}
