<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Vue Component 통신</title>
</head>
<body>
    <div id="app"> 
      <child-comp area="뒷간" :msg = "msg[parseInt(Math.random()*3)]"></child-comp>
      <child-comp area="화장실" :msg = "msg[parseInt(Math.random()*3)]"></child-comp>
      <child-comp area="으악" :msg = "msg[parseInt(Math.random()*3)]"></child-comp>
    </div>   
    

    <template id="ChildComp">
        <div>
            <h2>hamakim {{area}}에서 {{msg}} </h2>
        </div>
    </template>

    <script>
        Vue.component('ChildComp', {
            template : '#ChildComp',
            props : [
                'area', 'msg'
            ]
        });

        new Vue({
            el:'#app',
            data : {
                msg : ['끼에엑', '대단해요', '곤란'],
            }
        })

    </script>
</body>
</html>